.TabImg{
  width: 360px !important;
  height: 240px !important;
}

.Tab-Container{
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 28px;
  width: 90% !important;
  margin: 0 auto;
  padding: 0;
}


.ant-tabs-nav-list{
  display: flex;
  flex-wrap: wrap;
  width: 90% !important;
  margin: 0 auto;

}

.ant-tabs-tab-btn{
  font-family: 'Lora', serif;
  color: #696969;
  font-size: 18px;
}


.ant-tabs-nav-list{
  width: 500px !important;
  /* width: 0 !important; */
  margin: 0 !important;
  padding: 0 !important;
}

.ant-tabs-nav-wrap::before{
  width: 0 !important;
}

.ant-tabs-nav-wrap::after{
  width: 200px !important;
  flex: none;
  display: none;
  display: block;
}


.ant-tabs-ink-bar-animated{
  border-width: 0 !important;
  border: none !important;
  border-style: none !important;
  width: 0 !important;
}

.Tab-container{
  margin-top: 20px;
  margin-bottom: 100px;

}


   
/* ant-tabs ant-tabs-top  */